* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    scroll-padding-top: 10rem;
    background-color: black;
}

main {
    position: relative;
    width: 100%;
    display: flex;
    background-image: linear-gradient(black, rgb(0,192,255));
    background-position: bottom;
    background-size: 100%, 100%;
}

/* FOOTER */
.social-buttons,
.social-buttons li {
	display: flex;
	padding: 0;
	margin: 0;
}
.social-buttons {
	width: 50%;
	list-style: none;
	flex-wrap: wrap;
}
.social-buttons li {
	flex-basis: 25%;
	flex-shrink: 0;
	flex-grow: 1;
}
.social-buttons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: .5em 1em;
	font-weight: 500;
	text-decoration: none;
	color: #FFF;
}
.social-buttons i {
	margin-right: .5em;
}
.social-buttons [href*="twitter.com"] {
	background: #1da1f2;
}
.social-buttons [href*="facebook.com"] {
	background: #3b5998;
}
.social-buttons [href*="linkedin.com"] {
	background: #0077b5;
}
.social-buttons .fa:hover {
    opacity: 0.7;
}
.social-buttons .fa {
    padding: 5px;
    font-size: 20px;
    width: 10px;
    text-align: center;
    text-decoration: none;
}

/* ICONBOX */
.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }
