/* v6 2022/10/17 */

/* NORMALIZATION */
body{margin:0;-webkit-font-smoothing: antialiased;}
abbr{font-weight:bold;cursor:help;}
img{max-width:100%;}
ul{list-style:none;}
table{border-spacing:0;border-collapse:collapse;box-sizing:border-box;}
table td{vertical-align: top;}
li,legend,fieldset,ul{padding:0;}
dl,fieldset,ul{margin:0;}
button{cursor:pointer;background:transparent;}
fieldset{border:none;}



/* HELPERS */
.invisible {
	width: 0;
	height: 0;
	opacity:0;
	overflow: hidden;
	margin: initial;
	position: absolute;
}
.invisible:focus,
.invisible:active {outline: none;}



/* LAYOUT */
:root  {
	--bcontainer-max-width: 100%;
}
@media (min-width: 576px) {
	:root {--bcontainer-max-width: 540px;}
}
@media (min-width: 768px) {
	:root {--bcontainer-max-width: 720px;}
}
@media (min-width: 992px) {
	:root {--bcontainer-max-width: 960px;}
}
@media (min-width: 1200px) {
	:root {--bcontainer-max-width: 1100px;}
}
@media (min-width: 1600px) {
	:root {--bcontainer-max-width: 1400px;}
}





/* Containers */
.bcontainer {
	display: flow-root;
	width: 100%;
	max-width: var(--bcontainer-max-width);
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}
.bcontainer.__wide {
	--bcontainer-max-width: 100%;
}
/* DISPLAY: FLEX */
.bcontainer.__flex-row,
.bflex-row,
.bflex-column,
.bcentered{display:flex;}
/* FLEX-DIRECTION */
.bcontainer.__flex-row{flex-direction:row;}
.bflex-column{flex-direction:column;}

.bcentered,
.bflex-row.__items-center,
.bcontainer.__items-center {justify-items: center;}
.bcentered,
.bflex-row.__align-center,
.bcontainer.__align-center {align-items: center;}
.bflex-row.__content-center,
.bcontainer.__content-center {justify-content: center;}


.flex-size-own {flex:0 0 auto;}
.flex-size-fill {flex:1 1 auto;}


/* Offesets */
.bsector-a {padding-bottom: 4rem;}
.bsector-a:first-child {padding-top: 4rem;}

.loffset-a {margin-left:4rem !important;}
.loffset-b {margin-left:2rem !important;}
.loffset-c {margin-left:1rem !important;}
.loffset-d {margin-left:0.5rem !important;}

.roffset-a {margin-right:4rem !important;}
.roffset-b {margin-right:2rem !important;}
.roffset-c {margin-right:1rem !important;}
.roffset-d {margin-right:0.5rem !important;}

.boffset-a {margin-bottom:4rem !important;}
.boffset-b {margin-bottom:2rem !important;}
.boffset-c {margin-bottom:1rem !important;}
.boffset-d {margin-bottom:0.5rem !important;}
.boffset-e {margin-bottom:0.2rem !important;}

.lpad-d {padding-left:0.5rem !important;}


.bcolumn-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 2rem;
	grid-template-areas: "area1 area2";
	height: 100%;
	width: 100%;
}
.bcolumn-grid__slota {grid-area: area1;}
.bcolumn-grid__slotb {grid-area: area2;}



:root {
	--visible_gr-992: none;
	--visible_less-992: block;
	--col-direction_gr-992: column;
	--col-direction_margin: 4rem 0 0 0;
	--visible_gr-1680: none;
}
@media (min-width: 992px) {
	:root {
		--visible_gr-992: block;
		--visible_less-992: none;
		--col-direction_gr-992: row;
		--col-direction_margin: 0 0 0 4rem;
	}
}
@media (min-width: 1600px) {
	:root {
		--visible_gr-1680: block;
	}
}
.if-gr-then-992 {display: var(--visible_gr-992);}
.if-less-then-992 {display: var(--visible_less-992);}
.if_wsxga {display: var(--visible_gr-1680);}
.in-col_gr-then-992 {flex-direction: var(--col-direction_gr-992);}
.in-col_gr-then-992 > div + div {margin: var(--col-direction_margin)}

/* Featured */
.regular-grid {
    display: grid;
    width: 100%;
    grid-template-columns: var(--description-grid__columns, auto 1fr);
    grid-template-rows: min-content;
    gap: var(--description-grid__gap, 0 0.5rem);
    word-break: break-word;
    background: inherit;
    align-items: baseline;
}

.with-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.noselect {user-select: none;}

.ta-c {text-align: center;}
