/*
	The domain specific styles
*/
:root  {
	--main-link-color: #2764ec;
	--text-color: #484d52;
	--blue-a: #2471cc;
	--yellow-a: #fceb2e;
}


/* LINKS */
a {color: var(--main-link-color); text-decoration: none; transition: color 0.2s ease;}
a:hover,
a:focus,
a:active {text-decoration: underline; outline:none;}
.regular_vlink {border:none;padding:0;background:transparent;cursor:pointer;}
a.regular, 
.regular_vlink {color:inherit;text-decoration:underline;}
.regular_vlink:hover,
.regular_vlink:focus,
.regular_vlink:active,
a.regular:hover,
a.regular:focus,
a.regular:active {text-decoration:none;outline:none;}


.regularlist {
	list-style: initial;
	margin: 0 0 0 1.5rem;
}

p + .regularlist {
	margin-top: -0.5rem;
	margin-bottom: 1rem;
}


/* Tables */
table {width: 100%;}
table > thead { background-color: #d2d2d259; }
table > thead > tr > th { padding:.6rem .5rem; white-space: nowrap; color: #323a40;}
table > tbody > tr > td { padding:.5rem .5rem; }
table > tbody > tr > td:last-child { padding-right: 0; }

/* DecoratedList A */
.with_decoratedlist-a ul {padding:0 0 0 1.15rem;font-size:.86rem;line-height:1.15rem;}
.with_decoratedlist-a ul > li {position:relative;margin:0 0 .5rem 0;}
.with_decoratedlist-a ul > li:before {content:"";display:block;position:absolute;left:-1.1rem;top:.2rem;width:.8rem;height:.8rem;background:url(/assets/art/circle-list.svg) no-repeat;}
.with_decoratedlist-a ul > li > p {margin: 0;}

[data-sub-title]:after {
	content: attr(data-sub-title);
	display: block;
	font-size: 0.6em;
    text-transform: initial;
    padding: 0.65em 0 0 0;
	color: rgb(0 0 0 / 64%);
}

.horizForm .DialogForm {
	padding: 1rem 0;
}
.horizForm .df_row > select {
	margin-right: 0.5rem;
}
.videoBlock {
	display: block;
	width: 400px;
	height: 600px;
	margin: 0 0 1rem 0;
}

summary {list-style: none; user-select: none;}
summary::-webkit-details-marker {display: none; }
details > summary::before { 
  content:"+"; 
  width: 1rem;
  display: inline-block;
  vertical-align: top;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--main-link-color);
}
details[open] > summary::before { 
  content:"-"; 
}

.btn {
	line-height: 1.6rem;
    font-size: 0.9rem;
	height: auto;
	box-sizing: border-box;
	outline: none;
}
.btn {
    user-select: none;
    padding: .3rem 2rem;
    transition: background-color .2s, border-color .2s;
    appearance: none;
    border: 1px solid;
	border-radius: 4px;
	font-weight: 700;
}
.btn:active {
	outline: none;
}
.btn.__small {
	padding: .5rem .4rem;
	line-height: 1rem;
    font-size: 1rem;
}
.btn.btn-primary {
	background-color: #3076df;
    color: #fff;
	border-color: #3076df;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
	background-color: #0366d6;
	border-color: #0366d6;
}

.btn.btn-secondary {
	background-color: #fff;
    color: #52535c;
	border-color: #878080;
}
.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
	border-color: #0366d6;
	color: #0366d6;
}


.sticky-top {position: sticky; top: 0px; z-index: 99999;}

.vmiddle-inner,
.vmiddle:after {display: inline-block;vertical-align: middle;}
.vmiddle:after {content: "";width: 0;height: 100%}
.vmiddle-inner {width: 100%;}



.act-toggle__target:checked ~ .act-toggle__hide-subject {display: none;}
.act-toggle__target:checked ~ .act-toggle__show-subject {display: block;}

.centr-content > *,
.centr-content:after{display:inline-block;vertical-align:middle;}
.centr-content:after{content:"";width:0;height:100%;}

.icon-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid;
	border-bottom-color: transparent;
	padding: 0.1rem 0 0.05rem 0;
	margin: 0.1rem;
}
.icon-link:focus,
.icon-link:hover {
	text-decoration: none;
    border-bottom-color: inherit;
}
.icon-link > svg {width: 18px; height: 18px;}
.icon-link > svg > use {--control-color: var(--main-link-color);}
.icon-link > svg + span {margin-left: 0.3rem;}

.icon-btn {
	border: none;
	--control-color: #57659b;
}
.icon-btn:focus,
.icon-btn:hover {
	--control-color: #333;
}
.icon-btn > svg {width: 18px; height: 18px;}
.icon-btn > svg > use {}
.icon-btn + .icon-btn {margin-left: 0.3rem;}