# ignore files starting with . or ~
.*
~*

# ignore HTML theme
vendor/
vendor

# ignore MacOS junk
.DS_Store
Thumbs.db

# ignore application files
.vscode/
*.code-workspace
.history/

# track these files, if they exist
!.gitignore
